/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


@font-face {
    font-family: 'ITCAvantGardeGothicStdBold';
    src: url('ITCAvantGardeStd_Bold.eot');
    src: local("☺"),
         url('ITCAvantGardeStd_Bold.eot?#iefix') format('embedded-opentype'),
         url('ITCAvantGardeStd_Bold.woff') format('woff'),
         url('ITCAvantGardeStd_Bold.ttf') format('truetype'),
         url('ITCAvantGardeStd_Bold.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTStd-Roman';
    src: url('HelveticaNeueLTStd-Roman.eot');
    src: local("☺"),
         url('HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeueLTStd-Roman.woff') format('woff'),
         url('HelveticaNeueLTStd-Roman.ttf') format('truetype'),
         url('HelveticaNeueLTStd-Roman.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }



/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }



html{
  background: #FFFFFF;
}

body{
  width: 1024px;
  margin:auto;
  background-color: #FFFFFF;
  min-height:768px;
}

header{
  width:100%;
  background-color: #000000;
}

header img.logo{
  width: 90%;
  display:block;
  margin: auto;
}

div[role=main] img.graphic{
  display:block;
  width: 100%;
}

div[role=main] #top-bar {
    background: rgb(240,89,34);
    height: 10px;
}

div[role=main] section.cats{
  background-color: #FFFFFF;
  width:100%;
  min-height:1707px;
}

div[role=main] section.cats article{
    height:200px;
    padding: 20px 0px;
}

div[role=main] section.cats article div.img{
    width: 200px;
    float:left;
    text-align:center;
}

div[role=main] section.cats article div.img img{
    width: 120px;
    margin-top: 10px;
}

div[role=main] section.cats article div.info{
    width: 90%;
    margin: 0px auto;
    font-size: 18px;
    color: #d3d3d3;
}


div[role=main] section.cats article div.info span.cat{
    text-transform: uppercase;
    font-family: 'ITCAvantGardeGothicStdBold';
    font-size: 54px;
    display:block;
    color: #999;
    margin-bottom: 20px;
}

div[role=main] section.cats article div.info span.sub-head{
    text-transform: uppercase;
    font-family: 'ITCAvantGardeGothicStdBold';
    font-size: 48px;
    display:block;
    color: #000000;
    padding-top: 20px;
    line-height: 90%;
}

div[role=main] section.cats article div.info span.sub-head-sm{
    text-transform: uppercase;
    font-family: 'ITCAvantGardeGothicStdBold';
    font-size: 28px;
    display:block;
    color: #999;
}

div[role=main] section.cats article div.info h3{
    margin-bottom: 0px;
}

div[role=main] section.cats article div.info p{
    margin-top: 0px;
    color: #999;
}

div[role=main] section.cats article div.info div.data-left{
    width: 45%;
    padding: 5px;
    float:left;
    margin: 0px;
    color: #000000;
}

div[role=main] section.cats article div.info div.data-right{
    width: 45%;
    padding: 5px;
    float:right;
    margin: 0px;
    color: #000000;
}

div[role=main] section.cats article img.bottom-image{
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
}

div[role=main] section.cats article div.info div.mid-box {
    width: 100%;
    margin-bottom: 30px;
}

div[role=main] section.cats article div.info div.mid-box img.mid-img {
    width: 100%;
    margin-top: 30px;
}

div[role=main] section.cats article div.info div.mid-box p {
    color: #000000;
    font-weight: bold;
}


/* This is the end of Broc's Custom Style */


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
